<a href="https://colab.research.google.com/github/mishravk2412/dataengineering/blob/main/dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
!tar xf spark-3.1.2-bin-hadoop3.2.tgz
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "spark-3.1.2-bin-hadoop3.2"
!pip install -q findspark
import findspark
findspark.init()
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Spark dataframe tutorial").getOrCreate()

In [ ]:
#df = spark.read.option("inferSchema", True).option("header", True).csv("/content/StudentData.csv")
df = spark.read.options(inferSchema='True', header='True', delimiter=',').csv("/content/StudentData.csv")
df.printSchema()

In [ ]:
df.show()

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([
                     StructField("age",IntegerType(),True),
                     StructField("gender",StringType(),True),
                     StructField("name",StringType(),True),
                     StructField("course",StringType(),True),
                     StructField("roll",StringType(),True),
                     StructField("marks",IntegerType(),True),
                     StructField("email",StringType(),True)
])

df = spark.read.options(header='True', delimiter=',').schema(schema).csv("/content/StudentData.csv")
df.printSchema()

In [ ]:
#df.select("gender","name").show()
df.select(df.name, df.gender, df.email).show()

In [ ]:
from pyspark.sql.functions import col,lit
df.select(col("name"),col("roll")).show()

In [ ]:
#df.columns[:3]
df.select(df.columns[:3]).show()

In [ ]:
#withColumn Usage
df2 = df.withColumn("roll",col("roll").cast("Integer"))
#df2.printSchema()
df3 = df.withColumn("marks",col("marks") + 10)
df3.show()
#df.show()

df4 = df.withColumn("aggregated marks", col("marks") -10)
df4.show()

df5 = df.withColumn("Country",lit("USA"))
df5.show()

df6 = df.withColumn("marks", col("marks") - 10).withColumn("updated marks", col("marks") + 20).withColumn("Country", lit("USA"))
df6.show()