<a href="https://colab.research.google.com/github/mishravk2412/dataengineering/blob/main/studentAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
!tar xf spark-3.1.2-bin-hadoop3.2.tgz
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "spark-3.1.2-bin-hadoop3.2"
!pip install -q findspark
import findspark
findspark.init()
from pyspark import SparkConf, SparkContext

In [4]:
conf = SparkConf().setAppName("student analysis")
sc = SparkContext.getOrCreate(conf=conf)

In [40]:
text = sc.textFile("/content/StudentData.csv")
headers = text.first()
rdd = text.filter(lambda x : x != headers)

In [42]:
#number of students
rdd1 = rdd.map(lambda x : (x.split(",")[4]))
rddDistinct = rdd1.distinct()
numberOfStudents = rddDistinct.count()
print("Number of Students is " + str(numberOfStudents))

Number of Students is 1000

In [48]:
#Total marks of female and Male students.
rdd1 = rdd.map(lambda x : (x.split(",")[1],int(x.split(",")[5])))
rdd2 = rdd1.reduceByKey(lambda x,y: x + y)
print("total marks by female and male")
rdd2.collect()

total marks by female and male

[('Female', 29636), ('Male', 30461)]

In [59]:
#Total number of students passed or failed.
rdd3 = rdd.map(lambda x : (x.split(",")))
passed = rdd3.filter(lambda x: int(x[5])>50).count()
failed = rdd3.filter(lambda x: int(x[5])<=50).count()
print("passed students and failed students:")
print(passed, failed)

passed students and failed students:
630 370

In [ ]:
#Total number of enrolments per course.
rdd4 = rdd3.map(lambda x: (x[3],1))
rdd5 = rdd4.reduceByKey(lambda x,y : x + y)
print("Total number of enrolments per course.")
rdd5.collect()